/* The webpage overall styling */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #d8c3a5;
    background: #eae7dc;
}
/* This is to style the links*/
a {
 text-decoration: none;
}
/*  Main container that holds everything */

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #eae7dc;
}


/* This styles the menu and its contents */
li{color: white;}

#navbar {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    color: white;
}


#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
    top: 0;
    background: #17252a;
    color: white;
    border-radius: 25px;
}


#navbar ul li {
    height: 60px;
    width: 300px;
    margin: 0 30px;
    display: grid;
    place-items: center;
    background: #17252a;
    color: white;
    border-radius: 25px;
    font-size: 25px;
}


#navbar ul li:hover {/*.active {*/
    background: #e98704;
    /*color: #17252a;*/
    border: none;
}
#navbar ul a{/*.active {*/
    background: #17252a;
}
#navbar ul a:hover {/*.active {*/
    background: #e98704;
    /*color: #17252a;*/
    border: none;
}

/* left block of text styling*/

#content {
    height: 500px;
    width: 700px;
    position: absolute;
    left: 12%;
    top: calc(50% - 250px);
}


#content h2 {
    font-size: 140px;
    color: #17252a;;
}

#content p {
    font-size: 25px;
    color: #17252a;;
}


/* learn more button style */

#content button {
    width: 45%;
    height: 55px;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 5vh;
    margin-left: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #e85a4f;
    color: white;
}
#content button:hover {
    background: #e98704;
}



/*3d object style*/

#variant {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
}



#variant model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}


#block1text {
    height: 500px;
    width: 700px;
    position: absolute;
    /*right: 12%;*/
    top: calc(50% - 250px + 700px);
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;

}

#block1text p {
    font-size: 30px;
    color: #17252a;;
}

#block2 {
    /*height: 600px;
   width: 600px;*/
    position: absolute;
    top: calc(50% - 250px + 700px + 700px);
    border: none;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    /*right: 7%;*/
}

.center{text-align: center;}

#block2 img {
    height: 600px;
    width: 600px;
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    /*top: 0;
    /*left: 0;*/
    border: none;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;*/
}

#block3text {
    height: 500px;
    width: 700px;
    position: absolute;
    /*right: 12%;*/
    top: calc(50% - 250px + 700px + 700px + 700px);
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;

}

#block3text p {
    font-size: 15px;
    color: #17252a;;
}
